<configuration>
  <system.webServer>
    <handlers>
      <add name="Python FastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Users\ozanu\AppData\Local\Programs\Python\Python39\python.exe|C:\Users\ozanu\AppData\Local\Programs\Python\Python39\lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
    </handlers>
  </system.webServer>
  <appSettings>
    <add key="WSGI_HANDLER" value="app.app" />
    <add key="PYTHONPATH" value="C:\inetpub\wwwroot\Flask_IIS-master\" />
    <add key="WSGI_LOG" value="C:\inetpub\wwwroot\Flask_IIS-master\app.log" />
  </appSettings>
</configuration>
